/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.block-right{
    flex: 1 1 auto;
  }
  mat-card-title{
      font-style: oblique;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }  