<mat-card >
  <mat-card-header>
    <mat-card-title>ODataBr Server</mat-card-title>
    <mat-card-subtitle>Restful</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <a mat-button href="http://www.tireideletra.com.br/?cat=149" target="_blank" >Home: tireideletra.com.br</a><br>
      <a mat-button href="https://github.com/amarildolacerda/ODataBr" target="_blank">Binaies</a> <br>
      <a mat-button href="https://github.com/amarildolacerda/MVCBr" target="_blank">Sources</a>
    </mat-card-content>
  <mat-card-actions>
    <a mat-button [routerLink]="['/home']"><mat-icon>home</mat-icon></a>

    
  </mat-card-actions>
</mat-card>