/*

  This file contains CSS information for the Browse And Doc It HTML Output.

  @Author  David Hoyle
  @Date    29 Apr 2017
  @Version 1.0

*/
a:active {
  background       : Red;
  color            : Yellow;
}

a:link {
  color            : Blue;
}

a:visited {
  color            : Navy;
}

a:hover {
  background       : Green;
  color            : White;
}

body {
  background       : #FFFFFF;
  font-family      : "Tahoma", Times, Serif;
  font-size        : 10pt;
}

div.Contents {
  margin           : 2pt;
  position         : absolute;
  top              : 5em;
  bottom           : 0;
  left             : 25em;
  right            : 0;
  overflow         : auto;
  margin           : 5px;
}

div.Indent {
  margin-left      : 2em;
}

div.List {
  margin-bottom    : 2pt;
  font-weight      : Bold;
  border           : solid thin;
}

div.Module {
  margin-left      : 5pt;
  margin-right     : 5pt;
  padding-top      : 2pt;
  padding-bottom   : 2pt;
  font-weight      : normal;
}

div.Module:hover {
  background       : Green;
  color            : White;
}

div.Modules {
  position         : absolute;
  top              : 0;
  bottom           : 0;
  left             : 0;
  width            : 24em;
  overflow         : auto;
  margin           : 1em;
}

div.ModuleTitle {
  background       : #EEEEFF;
  padding-top      : 1em;
  padding-left     : 1em;
  padding-right    : 1em;
  padding-bottom   : 1.7em;
  border-bottom    : solid thin;
}

div.Section {
  margin-left      : 5pt;
  margin-right     : 5pt;
  padding-top      : 2pt;
  padding-bottom   : 2pt;
  float            : left;
}

div.Section:hover {
  background       : Green;
  color            : White;
}

div.Sections {
  position         : absolute;
  top              : 0;
  left             : 25em;
  height           : 4em;
  right            : 0;
  background       : #EEEEFF;
  margin-top       : 1em;
  margin-left      : 0.2em;
  margin-bottom    : 1em;
  margin-right     : 0.2em;
  border           : solid 1px;
}

h1 {
  color            : black;
  font-family      : times;
  border-top       : Thin;
  border-bottom    : Thin;
}

h2 {
  color            : navy;
  font-family      : times;
}

h3 {
  color            : maroon;
  font-family      : times;
}

h4 {
  color            : green;
  font-family      : times;
  margin           : 1em;
}

h5 {
  color            : purple;
  font-family      : times;
}

h6 {
  color            : black;
  font-family      : times;
}

img.left {
  float            : Left;
  margin           : 5pt;
}

img.right {
  float            : Right;
  margin           : 5pt;
}

img.verticallymiddle {
  vertical-align : middle;
}

li.DocConflictIncorrect {
  list-style-image : URL('../Images/DocConflictIncorrect.gif');
}

li.DocConflictItem {
  list-style-image : URL('../Images/DocConflictItem.gif');
}

li.DocConflictMissing {
  list-style-image : URL('../Images/DocConflictMissing.gif');
}

li.Error {
  list-style-image : URL('../Images/Error.gif');
}

li.Hint {
  list-style-image : URL('../Images/Hint.gif');
}

li.SpecialTag {
  color            : maroon;
}

li.ToDoItem {
  list-style-image : URL('../Images/TodoItem.gif');
}

li.Warning {
  list-style-image : URL('../Images/Warning.gif');
}

p {
  margin-top     : 0.5em;
  margin-bottom  : 0.5em;
}

p.Comment {
  color            : blue;
}

p.TagHeader {
  color            : purple;
  text-decoration  : underline;
  font-weight      : bold;
}

pre.code {
  border-bottom    : solid thin gray;
  color            : black;
  margin-top       : -0.5em;
  margin-bottom    : 0em;
  margin-left      : -0.5em;
  margin-right     : -0.5em;
  padding          : 0.5em;
}

pre.Tag {
  color            : black;
  margin-top       : 0em;
  margin-bottom    : 0em;
  margin-left      : 0em;
  margin-right     : 0em;
  padding          : 0em;
}

table {
  border           : solid thin gray;
  border-collapse  : collapse;
  border-spacing   : 0em;
}

table.Tags {
  color            : maroon
}

td {
  border           : solid thin gray;
  color            : black;
  padding-left     : 0.5em;
  padding-right    : 0.5em;
  padding-top      : 0.5em;
  padding-bottom   : 0em;
  vertical-align   : top;
}

td.TagName {
  font-weight      : bold;
}

td.Red {
  background       : #FFCCCC;
}

td.Green {
  background       : #CCFFCC;
}

td.Yellow {
  background       : #FFFFCC;
}

th {
  background       : #EEEEFF;
  border           : solid thin gray;
  color            : black;
  padding-left     : 0.5em;
  padding-right    : 0.5em;
  padding-top      : 0.25em;
  padding-bottom   : 0.25em;
  text-align       : left;
}

ul {
  margin-top       : 0em;
  margin-left      : 0em;
  margin-right     : 0em;
}
span.Unknown {
  color            : #FF0000;
}

span.WhiteSpace {
  color            : #000000;
}

span.ReservedWord {
  color            : #000000;
  font-weight      : bold;
}

span.Identifier {
  color            : #000000;
}

span.Number {
  color            : #000000;
}

span.Symbol {
  color            : #000000;
}

span.LineEnd {
  color            : #000000;
}

span.SingleLiteral {
  color            : #000000;
}

span.DoubleLiteral {
  color            : #000000;
}

span.LineComment {
  color            : #000000;
}

span.BlockComment {
  color            : #000000;
}

span.HTMLStartTag {
  color            : #000000;
}

span.HTMLEndTag {
  color            : #000000;
}

span.Directive {
  color            : #000000;
  font-weight      : bold;
}

span.CompilerDirective {
  color            : #000000;
}

span.LinkTag {
  color            : #000000;
}

span.TreeHeader {
  color            : #800000;
  font-weight      : bold;
}

span.FileEnd {
  color            : #000000;
}

span.LineContinuation {
  color            : #000000;
}

span.CustomUserToken {
  color            : #000000;
}

span.ExplorerHighlight {
  color            : #000000;
  background       : #FFFFE1;
}

span.PlainText {
  color            : #000000;
}

span.CommentText {
  color            : #000080;
}

span.TagHeaderText {
  color            : #800080;
  font-weight      : bold;
  font-decoration  : underline;
}

span.TagText {
  color            : #800000;
}

